.profile__edit-btn {
    display: inline-block;
    margin-top: 15px;
    margin-left: 18px;
    border: 1px solid #fff;
    font-size: 0;
    width: 24px;
    height: 24px;
    background-color: #000;
    background-image: url('../../../images/edit-btn.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    vertical-align: top;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.profile__edit-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 765px) {
    .profile__edit-btn {
        position: absolute;
        top: 8%;
        right: -28px;
        margin: 0;
        padding: 5px;
        width: 18px;
        height: 18px;
        background-size: 7px 7px;
    }
}