.popup__submit-btn_disabled {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    opacity: 0.2;
    cursor: default;
}

.popup__submit-btn_disabled:hover {
    cursor: default;
    opacity: 0.2;
}